@page "/textbox"
@rendermode InteractiveServer

<h3>テキストボックスからデータを取得する</h3>

<h4>1. ロストフォーカス時に反映される</h4>
<input type="text" @bind="Name1" placeholder="名前を入力" />
<p>こんにちは、@(Name1)さん</p>

<h4>2. 文字を入力すると即座に反映される</h4>
<input type="text" @bind="Name2" @bind:event="oninput" placeholder="名前を入力" />
<p>こんにちは、@(Name2)さん</p>

<h3>テキストボックスへデータを反映する</h3>
<input type="text" @bind="Name2" readonly />

@code
{
    private string Name1 { get; set; } = "名無し";
    private string Name2 { get; set; } = "名無し";
}
