@page "/if"

@using BlazorSample.Models

<h3>ifで条件を満たしたものだけを表示する</h3>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>商品名</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in products)
        {
            @* ここのif文で条件を満たすもののみ表示します *@
            @if (product.IsActive)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                </tr>
            }
        }
    </tbody>
</table>

@code
{
    private List<Product> products = new List<Product>()
        {
            new Product() { Id = 1, Name = "Product1", IsActive = true },
            new Product() { Id = 2, Name = "Product2", IsActive = false },
            new Product() { Id = 3, Name = "Product3", IsActive = true },
        };

    private string selectedProductName = "";

    private void AddCart(Product product)
    {
        selectedProductName = product.Name;
    }
}
