@page "/RenderFragment"

@using BlazorSample.Components.Shared

<h3>UIコンポーネントのタグ内にHTMLを指定して描画させる</h3>

<MyPanel Title="部品1">
    1つ目の文章
    <hr />
    2つ目の文章
</MyPanel>

<MyPanel Title="部品2">
</MyPanel>
